<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<style>
    li {
        list-style: none;
    }
</style>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="jumbotron">
        <h1>Notify</h1>
        <p class="lead">해외주식 정보 설정</p>
        <p>주식 정보는 매일 아침 9시와 오후 3시 30분에 발송됩니다.</p>

        <div class="input-group mb-3" style="display: inline-block;">
            <form th:object="${selectWorldStockRequest}">
                <input class="form-control" type="text" th:field="*{koreanName}" style="display: inline; width: 50%"/>
                <button class="btn btn-outline-success btn-sm" style="padding: 0.25rem 0.5rem; font-size: 1.2rem;">검색</button>
                <button class="btn btn-outline-info btn-sm" onclick="location.href='/stock/manage'" style="padding: 0.25rem 0.5rem; font-size: 1.2rem;" type="button">내 관심목록</button>
            </form>

        </div>



        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">심볼</th>
                <th scope="col">상장 거래소</th>
                <th scope="col">종목 명</th>
                <th scope="col">추가</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, itemStat : ${data.getData().getContent()}">
                <td th:text="${data.getData().getPageable().getPageNumber() * 10 + itemStat.index + 1}"></td>
                <td th:text="${item.symbol}"></td>
                <td th:text="${item.exchange}"></td>
                <td th:text="${item.koreanName}"></td>
                <!--<td>
                    <button th:if="${item.isUse}" th:id="${item.id}" th:value="${item.isUse}"
                            class="btn btn-outline-danger btn-sm" style="padding: 0.25rem 0.5rem; font-size: .875rem;"
                            th:onclick="stockManage(this.getAttribute('id'), this.getAttribute('value'))">관심종목 제거
                    </button>
                    <button th:if="${!item.isUse}" th:id="${item.id}" th:value="${item.isUse}"
                            class="btn btn-outline-primary btn-sm" style="padding: 0.25rem 0.5rem; font-size: .875rem;"
                            th:onclick="stockManage(this.getAttribute('id'), this.getAttribute('value'))">관심종목 추가
                    </button>
                </td>-->
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example"
             th:with="start=${(data.getData().getPageable().getPageNumber() / 10) * 10 + 1},
                  end=(${(data.getData().getTotalPages() == 0) ? 1 : (start + (10 - 1) < data.getData().getTotalPages() ? start + (10 - 1) : data.getData().getTotalPages())})">
            <ul class="pagination justify-content-center">
                <li th:attr="class=${data.getData().getPageable().getPageNumber() < 10 ? 'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:href="@{/world-stock(page = ${start - 10})}">Previous</a>
                </li>
                <li th:each="page, status : ${#numbers.sequence(start, end)}"
                    th:attr="class=${data.getData().getPageable().getPageNumber() == page -1 ? 'page-item active' :'page-item'}">
                    <a class="page-link"
                       th:href="@{/world-stock(page = ${page - 1}, koreanName = ${selectWorldStockRequest.getKoreanName()})} "
                       th:text="${page}"></a>
                </li>
                <li th:attr="class=${end < data.getData().getTotalPages() ? 'page-item' : 'page-item disabled'}">
                    <a class="page-link" th:href="@{/world-stock(page = ${start + 10})}">Next</a>
                </li>
            </ul>
        </nav>

    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->
<script>
    function stockManage(stockId, isUse) {

        console.log(stockId);
        console.log(isUse);
        $.ajax({
            type: "POST",
            url: "/v1/stock",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
                stockId: stockId
            }),
            success: function (res) {
                if (res.code === "200") {
                    if (isUse === "true") {
                        $("#" + stockId).attr('class', 'btn btn-outline-primary btn-sm');
                        $("#" + stockId).text('관심종목 추가');
                        $("#" + stockId).attr('value', 'false');
                    }else if(isUse === "false") {
                        $("#" + stockId).attr('class', 'btn btn-outline-danger btn-sm');
                        $("#" + stockId).text('관심종목 제거');
                        $("#" + stockId).attr('value', 'true');
                    }
                } else {
                    alert(res.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("통신 실패.")
            }
        });
    }
</script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

</body>
</html>