<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<style>
    li {
        list-style: none;
    }
</style>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="jumbotron">
        <h1>Notify</h1>
        <p class="lead">나의 미국주식 관심 목록</p>
        <p>주식 정보는 매일 아침 9시와 저녁 10시 30분에 발송됩니다.</p>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">심볼</th>
                <th scope="col">상장 거래소</th>
                <th scope="col">종목 명</th>
                <th scope="col">추가</th>
            </tr>
            </thead>
            <tbody id="americaStockManageList">
            <tr th:each="item, itemStat : ${data.getData().getContent()}">
                <td th:text="${data.getData().getPageable().getPageNumber() * 10 + itemStat.index + 1}"></td>
                <td th:text="${item.symbol}"></td>
                <td th:text="${item.exchange}"></td>
                <td th:text="${item.koreanName}"></td>
                <td>
                    <button th:if="${item.isUse}" th:id="${item.id}" th:value="${item.isUse}"
                            class="btn btn-outline-danger btn-sm" style="padding: 0.25rem 0.5rem; font-size: .875rem;"
                            th:onclick="americaStockManage(this.getAttribute('id'), this.getAttribute('value'))">관심종목 제거
                    </button>
                    <button th:if="${!item.isUse}" th:id="${item.id}" th:value="${item.isUse}"
                            class="btn btn-outline-primary btn-sm" style="padding: 0.25rem 0.5rem; font-size: .875rem;"
                            th:onclick="americaStockManage(this.getAttribute('id'), this.getAttribute('value'))">관심종목 추가
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script>
    let hasNext = "[[${data.getData().hasNext()}]]";
    let page = "[[${data.getData().getPageable().getPageNumber() + 1}]]"; // 0
    let totalElements = "[[${data.getData().getTotalElements()}]]" // 13

    function americaStockManage(americaStockId, isUse) {

        $.ajax({
            type: "POST",
            url: "/v1/america-stock",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
                americaStockId: americaStockId
            }),
            success: function (res) {
                if (res.code == 200) {
                    if (isUse) {
                        var elem = document.getElementById(americaStockId);
                        location.reload();
                    }
                } else {
                    alert(res.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("통신 실패.")
            }
        });
    }

    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            if (page * 10 < totalElements) {
                $.ajax({
                    type: "GET",
                    url: "/america-stock/manage/list?page=" + "[[${data.getData().getPageable().getPageNumber() + 1}]]" + "&size=10",
                    dataType: "text",
                    success: function (res) {
                        console.log(res);
                        $("#americaStockManageList").append(res);
                        page++;
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("통신 실패.")
                    }
                });
            }
        }
    });

</script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

</body>
</html>